body{
    color: white;
        background-color: black;
}
h1{
    text-align: center;
    color: steelblue;
}
img{
    width: 250px;
    height: 250px;
    border: steelblue;
    border-radius: 50%;
}
.pepp{
    
}
.junin{
    
}
h2{
    
    color: steelblue;
}